{% extends '::base2.html.twig' %}
{% block body %}
    <div class="jumbotron">
        <h1>Hello, riadh!</h1>
        <p> Amani ya dawla :p </p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_show') }}" role="button">Learn more</a></p>
    </div>
{% endblock %}